<mat-card appearance="outlined">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>E-Mail</th>
    </tr>
    @for (user of allUsers; track $index) {
    <tr [routerLink]="['/user/' + user.id]">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
    </tr>
    }
  </table>
</mat-card>

<button
  (click)="openDialog()"
  mat-fab
  matTooltip="Add User"
  [matTooltipPosition]="position"
  color="primary"
  class="add-user-button"
>
  <mat-icon>add</mat-icon>
</button>
